<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleExecutable</key>
    <string>gqrx</string>
    <key>CFBundleIdentifier</key>
    <string>dk.gqrx.gqrx</string>
    <key>CFBundleName</key>
    <string>Gqrx</string>
    <key>CFBundleDisplayName</key>
    <string>Gqrx SDR</string>
    <key>CFBundleVersion</key>
    <string>2.17</string>
    <key>CFBundleShortVersionString</key>
    <string>2.17</string>
    <key>CFBundlePackageType</key>
    <string>APPL</string>
    <key>NSHighResolutionCapable</key>
    <true/>
    <key>NSLocationWhenInUseUsageDescription</key>
    <string>Gqrx needs your location to filter FM/TV station imports by distance.</string>
    <key>NSLocationUsageDescription</key>
    <string>Gqrx needs your location to filter FM/TV station imports by distance.</string>
</dict>
</plist>
